body {
    background-color:black; 
}

#help {
    left: 1050px;
    position: absolute;
    color: #fff;
}

#help h1 {
    font-weight: bold;
    width: 100px;
    font-size: 16px;
    border-bottom: solid 1px #000;
}

canvas {
    position: absolute;
    border-top-width: 4px;
    border-bottom-width: 4px;
    border-top-style: double;
    border-bottom-style: double;
    border-top-color: #E1A60A;
    border-bottom-color: #E1A60A;
    padding: 2px 0px;
}

#background {
    z-index: -3;
}
#main {
    z-index: -2;
}
#scoreboard {
    z-index: -1;
}

/* Splash screen process*/
#setup, #setup-two {
    width: 200px;
    position: absolute;
    top: 100px;
    left: 400px;
}

#setup, #setup-two {
    text-align: center;
}

#setup p{
    color: #fff;
    font-weight: bold;
}

#setup .creategame {
    width: 200px;
    float: left;
    margin-bottom: 20px;
}

#setup input[type="text"] {
    border: 1px solid #000;
    width: 200px;
    height: 30px;
}

#setup .joingame {
    width: 200px;
    float: left;
}

#setup a {
    display: block;
    border: 1px solid #000;
    text-decoration: none;
    padding: 5px;
    color: #fff;
}

#setup a:hover {
    background-color: #000;
}

#setup-two {
    visibility: hidden;
}

#setup-two a {
    display: block;
    color: white;
    font-size: 32px;
    font-weight: bold;
    padding: 5px;
    background-color: #0040FF;
    color: #fff;
    text-decoration: none;
}

#setup-two a:hover {
    background-color: #886A08;
}

#game-name {
    width: 400px;
    border: 1px solid #000;
    background-color: #000;
    margin-top: 4px;
    color: #fff;
}

#game-name > span {
    font-weight: bold;
}

#header {
    position: absolute;
}
